.App{
    max-width: 300px;
    width: 100%;
    margin: 100px auto;
    align-items: center;
    text-align: center;
    font-style: italic;
}
.App h1{
    color: rgb(37, 69, 69);
}
.App input{
    width: 100%;
    margin: 10px 0;
    padding: 0;
    height: 30px;
    border: 2px solid gray;
    border-radius: 5px;
    text-align: center;
    color: gray;
    font-style: italic;
}
.App select{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    height: 35px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    color: gray;
    font-style: italic;
}
.App button{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(37, 69, 69);
    color: #fff;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}
.completed{
    text-align: center;

}